:root {
    --primary-color: #151716;
    --secondary-color: #37b389;
}
* {
    background-color: var(--primary-color);

}

nav {
    display: flex;
    justify-content: end;
    gap: 40px;
    margin-right: 100px;
}
nav a, p {
    color: white;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
nav a:hover {
    color: var(--secondary-color);
}
.img-container {
    display: flex;
    justify-content: flex-end;
}
.img-container img {
    width:30vh;
    border-radius: 100%;
    border: var(--secondary-color) 8px solid;
}
.descr-container {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    flex-direction: column;
}
.descr-container h1 {
    color: white;
    font-size: 4.0rem;;
    font-family: 'Poppins', sans-serif;
}
.descr-container p {
    color: white;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
}
.descr-buttons a {
    color: white;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    padding: 10px 80px 10px 80px;
    border-radius: 5px;
}

.descr-buttons a:first-child {
    background-color: var(--secondary-color);
}
.descr-buttons a:last-child {
    margin: 0 40px 0 40px;
}
.descr-buttons a {
    background-color: #252530;
}
.descr-buttons a:first-child:hover {
    background-color: white;
    color: var(--secondary-color);
}

.descr-buttons a:last-child:hover {
    background-color: white;
    color: var(--secondary-color);
}